.home-page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: black;
}

.home-page h1 {
    font-size: 50px;
}

.SPA-link {
    text-decoration: none;
    font-size: 30px;
    color: #E8E5DA;
}