.footer {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: black;
}

.links {
    height: 100px;
}

.link-btn {
    height: 50px;
    margin: 5px;
    width: 50px;

}

.link-btn#gh {
    display: inline-block;
    background-size: contain;    background-image: url("../../assets/icons/GitHub-light.png");
}

.link-btn#li {
    display: inline-block;
    background-size: contain;
    background-image: url("../../assets/icons/LinkedIn.png");
}